/* Debug */
.debug{
    border: 1px solid black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}
.right{
    float: right;
}
.left{
    float: left;
}
.button{
    display: inline-block;
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}

/* Header */
    /* Nav */
nav{
    height: 10vh;
    line-height: 10vh;
    font-size: 2vh;
}
.logo-dropbox a img{
    vertical-align: middle;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
}
.navblock-left{
    width: 50%;
    text-align: left;
}
.navblock-right{
    width: 50%;
    text-align: right;
}
div.navblock ul{
    list-style-type: none;
}
div.navblock.left ul li{
    display: inline-block;
    padding-right: 30px;

}
div.navblock-right ul li{
    display: inline-block;
    padding-left: 30px;

}
div.navblock ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.navblock ul li:last-of-type{
    padding-right: 30px;
}
.nav-button{
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}
    /* Jumbotron */
.jumbotron-container{
    background-color: #b4d0e6;
    width: 100%;
    height: 100vh;
    position: relative;
}
.jumbotron{
    width: 90%;
    height: 90vh;
    position: absolute;
    bottom: 0%;
    transform: translate(5%, 0);
}
.jumbo-text-box{
    width: 40%;
    padding-right: 100px;
}
.jumbo-img-box{
    width: 60%;
    position: relative;
}
.jumbotron figure img{
    width: 100%;
    position: absolute;
    top: 30px;

}
.jumbotron h1{
    font-size: 11vh;
}
.jumbotron h2{
    font-size: 2.4vh;
    padding-top: 25px;
}
.jumbotron .button{
    margin: 20px 0 10px 0;
}
.jumbotron h3{
    font-size: 1.8vh;
}
.jumbotron h4{
    font-size: 6vh;
    padding-top: 50px;
}