/* Debug */
.debug{
    border: 1px solid black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}
.right{
    float: right;
}
.left{
    float: left;
}
.button{
    font-size: 2vh;
    display: inline-block;
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}
.central-button-box{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.interline{
    width: 20%;
    color: #d7d7d7;
}
.gray-text{
    color: #848f95;
}
.blue-text{
    color: #1466e6;
}
.title{
    border-bottom: 2px solid #d7d7d7;
    margin-left: -2px;
}
.underline-text{
    text-decoration: underline;
}

/* Header */
    /* Nav */
nav{
    background-color: white;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    font-size: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}
.logo-dropbox a img{
    vertical-align: middle;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
}
.navblock-left{
    width: 50%;
    text-align: left;
}
.navblock-right{
    width: 50%;
    text-align: right;
}
.navblock ul{
    list-style-type: none;
}
.navblock.left ul li{
    display: inline-block;
    padding-right: 30px;

}
.navblock-right ul li{
    display: inline-block;
    padding-left: 30px;

}
.navblock ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.navblock ul li:last-of-type{
    padding-right: 30px;
}
.nav-button{
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}
    /* Jumbotron */
.jumbotron-container{
    background-color: #b4d0e6;
    width: 100%;
}
.jumbotron{
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.jumbo-text-box{
    width: 30%;
    padding-right: 50px;
}
.jumbo-img-box{
    width: 70%;
    position: relative;
}
.jumbotron figure img{
    width: 100%;
    position: absolute;
    top: 40px;
}
.jumbotron h1{
    font-size: 10vh;
    padding-top: 50px;
}
.jumbotron h2{
    font-size: 2vh;
    padding-top: 40px;
}
.jumbotron .button{
    margin: 20px 0 10px 0;
}
.jumbotron h3{
    font-size: 2vh;
}
.jumbotron h4{
    font-size: 6vh;
    padding-top: 30px;
}
.jumbotron h4 a{
    text-decoration: none;
    color: black;
}

/* Main */
    /* Titolo e check-box */
.plans-container{
    width: 80%;
    padding-top: 200px;
    margin: 0 auto;
}
.plans-container h2{
    font-size: 5vh;
    font-weight: 700;
    padding-bottom: 50px;
}
.fake-check-box{
    padding-bottom: 30px;
}
.fake-check-box p{
    font-weight: 600;
    font-size: 2vh;
}
.fake-check-box p, .fake-check-box div{
    display: inline-block;
    vertical-align: middle;
}
.fake-check-left{
    height: 20px;
    width: 20px;
    border: 5px solid #0062fe;
    border-radius: 50%;
}
.fake-check-right{
    height: 20px;
    width: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    margin-left: 10px;
}
    /* Piani di abbonamento */
.plans-row{
    width: 100%;
    min-height: 1083px;
}
.plan{
    width: calc((100% / 3) - 40px);
    min-height: 1083px;
    border: 2px solid #d7d7d7;
}
.plan-2{
    margin: 0 60px;
}
.col-box{
    width: 85%;
    margin: 0 auto;
}
.plan h4:first-child{ /* Vedere se si può creare una classe unica per gli h4 della plan-box e della contact-box */
    text-align: center;
    font-size: 2vh;
    line-height: 5vh;
}
.col-box h2{
    font-size: 3vh;
    padding-top: 30px;
    padding-bottom: 15px;
}
.col-box p{
    font-size: 2vh;
    padding-top: 15px;
    padding-bottom: 15px;
}
.col-box .gray-text{
    margin-bottom: 40px;
}
.central-button-box .button{
    width: 100%;
    text-align: center;
}
.col-box hr{
    margin-top: 10px;
    margin-bottom: 30px;
}
.col-box h3{
    font-size: 2.3vh;
}
.col-box ul li{
    list-style-type: none;
    font-size: 2vh;
    padding-top: 15px;
    padding-bottom: 15px;

}
.col-box ul li .fa-color{
    color: #357bea;
}
.plan-contact{
    margin-top: 50px;
    width: 100%;
    min-height: 240px;
    border: 2px solid #d7d7d7;
}
.title h4{
    text-align: center;
    font-size: 2vh;
    line-height: 5vh;
}
.contact-box-1{
    width: 70%;
}
.contact-box-1 h2{
    font-size: 5vh;
    padding-top: 20px;
    padding-bottom: 15px;
}
.contact-box-1 h3{
    font-size: 2vh;
    padding-bottom: 30px;
}
.contact-box-1{
    font-size: 2vh;
}
.contact-box-2{
    width: 30%;
}
.contact-row{
margin-left: 30px;
}
    /* Promo */
.promo-container{
    width: 80%;
    padding-top: 200px;
    margin: 0 auto;
}
.partner-image-box{
    width: 50%;
}
.partner-image-box img{
    width: 100%;
}
.partner-text-box{
    width: 50%;
    padding-left: 50px;
}
.partner-text-box h3{
    font-size: 4vh;
    padding-top: 40px;
    padding-bottom: 30px;
}
.partner-text-box p{
    font-size: 2vh;
    line-height: 3.5vh;
    padding-bottom: 30px;
}
.partner-text-box .button{
    background-color: white;
    line-height: 3.5vh;
    color: black;
    border: 2px solid black;
}
    /* Dropbox Business */
.db-container{
    width: 80%;
    padding-top: 80px;
    margin: 0 auto;
}
.db-container h2{
    font-size: 5vh;
    font-weight: 800;
    padding-bottom: 50px;
}
.db-row{
    width: 100%;
}
.db-col{
    width: calc((100% / 3) - (240px / 6));
    margin: 0 auto;
}
.db-col-center{
    margin: 0 60px
}
.db-col img{
    width: 100%;
}
.db-col h3{
    padding-bottom: 20px;
    font-size: 3.5vh;
}
.db-col p{
    padding-bottom: 80px;
    font-size: 2vh;
}
    /* Numeri */
.numbers{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.numbers h2{
    font-size: 5vh;
}
.numbers-link{
    padding-top: 25px;
    padding-bottom: 50px;
}
    /* Sponsor */
.sponsor-container{
    width: 100%;
    margin: 0 auto;
    min-height: 460px;
}
.block{
    width: 25vw;
}
.middle-block{
    width: calc(100% - 50vw);
    height: 460px;
    background-color: #f5f5f5;
    padding: 50px;
    overflow-y: auto;
}
.middle-block img{
    width: 15%;
    height: 15%;
    padding-bottom: 20px;
}
.middle-block hr{
    width: 10%;
}
.middle-block p{
    font-size: 1.5em;
    padding-top: 40px;
}
.just-for-overflow{
    height: 500px;
}
.square-block{
    width: 50%;
    position: relative;
    min-height: 230px;
}
.square-block img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50px);
   filter: invert(1);
}
#uof{
    height: 77px;
    width: 120px;
    padding-top: 47px;
}
.block-bg-1{
    background-color: #a2d39b;
    border: 10px solid #d0e9cc;
}
.block-bg-2{
    background-color: #62082b;
}
.block-bg-3{
    background-color: #0193ce;
}
.block-bg-4{
    background-color: #fe1c1d;
}
.block-bg-5{
    background-color: #d50020;
}
.block-bg-6{
    background-color: #b4d0e6;
}
.block-bg-7{
    background-color: #0d2481;
}
.block-bg-8{
    background-color: #ffd930;
}
    /* Underbox */
.underbox{
    width: 100%;
    min-height: 300px;
    background-color: #b4d0e6;
}
.underbox > .left-box{
    width: 50%;
    min-height: 300px;
    padding-bottom: 150px;
}
.underbox > .right-box{
    width: 50%;
    min-height: 300px;
}
.left-box h2{
    color: #62082b;
    text-align: left;
    font-size: 5vh;
    padding-top: 200px;
    padding-left: 311px;
    padding-right: 20px;
}
.right-box > .central-button-box{
    padding-top: 180px;
    padding-left: 300px;
    padding-right: 250px;
}
.right-box .central-button-box .button{
    color: black;
    font-size: 2vh;
    font-weight: 600;
    background-color: #ffffff;
    margin: 1px solid black;
}
    /* FAQ */
.faq-container{
    min-width: 1200px;
    min-height: 400px;
    padding-bottom: 200px;
}
.faq{
    width: 70%;
    margin: 0 auto;
    min-height: 300px;
}
.faq-text-box-1{
    padding-top: 150px;
    padding-bottom: 50px;
}
.faq-text-box-1 h2{
    font-size: 5vh;
}
.faq-text-box-2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.faq-text-box-2 h3 i{
    padding-left: 600px;
}
