/* Debug */
.debug{
    border: 1px solid black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}
.right{
    float: right;
}
.left{
    float: left;
}
.button{
    font-size: 2vh;
    display: inline-block;
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}
hr.interline{
    width: 20%;
}
.gray-text{
    color: #848f95;
}
i{
    margin-bottom: 3px;
}

/* Header */
    /* Nav */
nav{
    background-color: white;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    font-size: 2vh;
    position: fixed;
    top: 0;
    left: 0;
}
.logo-dropbox a img{
    vertical-align: middle;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
}
.navblock-left{
    width: 50%;
    text-align: left;
}
.navblock-right{
    width: 50%;
    text-align: right;
}
div.navblock ul{
    list-style-type: none;
}
div.navblock.left ul li{
    display: inline-block;
    padding-right: 30px;

}
div.navblock-right ul li{
    display: inline-block;
    padding-left: 30px;

}
div.navblock ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.navblock ul li:last-of-type{
    padding-right: 30px;
}
.nav-button{
    background-color: #0061fe;
    color: white;
    padding: 5px 20px;
}
    /* Jumbotron */
.jumbotron-container{
    background-color: #b4d0e6;
    width: 100%;
}
.jumbotron{
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.jumbo-text-box{
    width: 30%;
    padding-right: 50px;
}
.jumbo-img-box{
    width: 70%;
    position: relative;
}
.jumbotron figure img{
    width: 100%;
    position: absolute;
    top: 40px;
}
.jumbotron h1{
    font-size: 10vh;
}
.jumbotron h2{
    font-size: 2vh;
    padding-top: 40px;
}
.jumbotron .button{
    margin: 20px 0 10px 0;
}
.jumbotron h3{
    font-size: 2vh;
}
.jumbotron h4{ /* Fare successivamente ancora legata alla sezione delle 3 colonne */
    font-size: 6vh;
    padding-top: 30px;
}

/* Main */
    /* Titolo e check-box */
.plans-container{
    width: 80%;
    padding-top: 200px;
    margin: 0 auto;
}
section.plans-container h2{
    font-size: 5vh;
    font-weight: 700;
    padding-bottom: 50px;
}
.fake-check-box{
    padding-bottom: 30px;
}
.fake-check-box p{
    font-weight: 600;
    font-size: 2vh;
}
.fake-check-box p, .fake-check-box div{
    display: inline-block;
    vertical-align: middle;
}
.fake-check-left{
    height: 20px;
    width: 20px;
    border: 5px solid #0062fe;
    border-radius: 50%;
}
.fake-check-right{
    height: 20px;
    width: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    margin-left: 10px;
}
    /* Piani di abbonamento */
.plans-row{
    width: 100%;
    min-height: 1083px;
}
.plan{
    width: calc((100% / 3) - 40px);
    min-height: 1083px;
}
.plan-2{
    margin: 0 60px;
}
.col-box{
    width: 85%;
    margin: 0 auto;
}
.plan h4:first-child{
    text-align: center;
    font-size: 2vh;
    line-height: 5vh;
}
section.plans-container div.plan div.col-box h2{
    font-size: 3vh;
    padding-top: 30px;
    padding-bottom: 15px;
}
section.plans-container div.plan div.col-box p{
    font-size: 2vh;
    padding-top: 15px;
    padding-bottom: 15px;
}














.plan-contact{
    margin-top: 50px;
    width: 100%;
    height: 25vh; /* togliere poi */
}
